<div class="modal fade" id="login_modal" role="dialog">
    <div class="modal-dialog" style="width: 400px;">
        <!-- Modal content-->
        <div class="modal-content" style="height: 392px">
            <div class="login_success">Password Changed</div>
            <form id="login_form" action="{{ path('login_check') }}" method="post" style="width: 350px; margin-top: 22px;">
                <fieldset style="height: 300px;">

                    <legend> <div class="modal_logo"></div><div class="modal_action">Login Form</div></legend>
                    <div class="form-group">
                        <label for="username">Username / Alias</label>
                        <input type="text" id="username" name="_username" value="" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="_password" class="form-control"/>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"/>
                    <button type="submit" class="login-but btn btn-primary">
                        Sign In
                    </button>
                    <br>
                </fieldset>
            </form>
        </div>
    </div>
</div>

